body
    {
	background-color:#d9534f;
    }


h1
 {
 	background-color:#ffe9dc;
 	font-family:'Xanh Mono', monospace;
 	font-size:40px;
 	color: #aa6f73;
 }

 h2
 {
    background-color:#fbf7f5;
    font-family:'Shadows Into Light', cursive;
 	font-size:40px;
 	color:#d29985;

 }

 h3
    {
 	background-color:#ffe9dc;
 	font-family: 'Allura',cursive;
 	font-size:40px;
 	color:#23272a;
 }




a:link, a:visited
{
	background-color:#66545e;
	color:#c99789;
	text-decoration: none;
	display:inline-block;
	border-radius:25px;
	padding:15px;
}

a:hover, a:active
{
	background-color:#f9f1f1 ;
	color:#c0c5ce;
}